*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
body{
     display: flex;
     background: #0c1022;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     overflow: hidden;
}
.container{
     position: relative;
     width: 350px;
     height: 500px;
     background: rgba(0,0,0,75);
     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-inline: 32px;
    overflow: hidden;
}
.container::before{
     content: '';
     position: absolute;
     height: 650px;
     width: 650px;
     background: conic-gradient(
        transparent,transparent,transparent,#d400d4
     );
     animation: animate 4s linear infinite;
     animation-delay: -2s;
}
.container::after{
    content: '';
    position: absolute;
    height: 650px;
    width: 650px;
    background: conic-gradient(
        transparent,transparent,transparent,#00cfff
     );
    animation: animate 4s linear infinite;
}
@keyframes animate{
     0%{
        transform: rotate(0);
       }
       100%{
           transform: rotate(360deg);
       }
    }

.image{
    position: absolute;
    inset: 5px;
    background: #0c1022;
    z-index: 1;
    border-radius: 16px;
}
.form-box{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 60vh;
}
.form-box .form h2{
    font-size: 40px;
    color: #fff;
    text-align: center;
}
.form-box .input-box{
      position: relative;
      margin: 30px 0;
      width: 310px;
      border-bottom: 2px solid #fff;
}
.input-box input{
    width: 100px;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0  35px 0 5px;
    color: #fff;
}
input:focus ~ label,
input:valid ~ label{
      top: -5x;
}
.input-box label{
      position:absolute;
      color: #fff;
      top: 50px;
      left: 5px;
      transform: translateY(-50%);
      font-size: 16px;
      pointer-events: none;
      transform: .3s
}
.group{
    display: flex;
    justify-content: space-between;
}
.group a{
     position: relative;
     top: -20px;
     color: #fff;
     text-decoration: none;
     font-weight: 500;
}
a:hover{
    color:red;
}
button{
    height: 40px;
    width: 90px;
    font-size: 18px;
    font-weight: 600px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
}
button:focus{
    color: #fff;
    background-color: #0c1022;
    border: 2px solid #fff;
}*
